
header {
    padding-left: 360px;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    justify-content:center
}

.widget-content {
    text-align: left;
}
.link {
    height: 24px;
}

@media (max-width: 595px) {
    .header_h2 {
        font-size: 18px;
        padding-left: 20px;
    }
    .link {
        height: 18px;
    }
}